<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Exam</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <main>
        {{> navigation}}

        {{{ body }}}

        {{> footer}}
    </main>
</body>

</html>